body {
  background: #000000;
}
header {
  text-align: center;
  border: 3px dotted #f70202;
  color: #ffffff;;
  margin-bottom: 40px;
}
header h1 {
  font-family: 'Courier New', Courier, monospace;
  color: #f70202d8;
  font-size: 35px;
}

header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  padding: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: 100;
  padding: 20px;
}
header nav ul li a:hover {
  color: #792005;
}
#imagesSection {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border:2px #f70202 dotted;
  border-radius: 20px;
}
img {
  width: 300px;
  height: 300px;
  border: 10px dotted #f70202;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}
#showtheresult {
  color: red;
  font-weight: 20px;
  text-align: center;
}
#showtheresult ul {
  list-style: none;
}
#chartsectionid{
  position: absolute;
  margin-top: 20px 0 0 50px ;
}
#chartposition{
 position: absolute;
  margin-top: 20px 0 0 50px ;
}